body {
    margin: 0px !important;
    padding: 0px !important;
}

.container {

    min-width: 100vw;
    min-height: 100vh;
    background-color: #90d1ae;
    display: flex;
    flex-direction: column;

}

.containerImg {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-decoration: none;

}

.containerImg > img {
    object-fit: contain;
    max-height: 200px;
    margin: -20px;
}

.containerImg > a >  img {
    object-fit: contain;
    max-height: 200px;
    margin: -20px;
}

.containerImg > span {
    font-size: 25px;
    letter-spacing: 3.5px;
    font-weight: 700;
    color: #3ca36b;
}


.container_listas {


    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

}


.container_listas > a {

    cursor: pointer;
    user-select: none;
    margin: 20px;
    width: 90%;
    max-width: 300px;
    background-color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;

}

.container_listas > a:hover{
    opacity: 0.5;
}


.container_listas > a:active{
    opacity: 0.2;
}


.header_usuarios {

    height: 35px;
    padding-left: 5%;
    background-color: #ffffff;
    padding-right: 5%;
    color: #3ca36b;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;

}

.header_usuarios > div {
    width: 23%;
}


.header_usuarios > :nth-child(1) {
    width: 10%;
}

.header_usuarios > :nth-child(2) {
    width: 50%;
}

.header_usuarios > :nth-child(3) {
    width: 20%;
}

.header_usuarios > :nth-child(4) {
    width: 20%;
}

.container_listas_users{

    flex-direction: column;
    padding-left: 12%;
    padding-right:12%;


}

.usuarios_lista {

    

}

.usuarios_lista:hover{
    opacity: 0.8;
}

.usuarios_lista:active{
    opacity: 0.4;
}

.usuarios_lista > :nth-child(1) {
    width: 10%;
    text-overflow: ellipsis;
}

.usuarios_lista > :nth-child(2) {
    width: 50%;
    text-overflow: ellipsis;
}

.usuarios_lista > :nth-child(3) {
    width: 20%;
    text-overflow: ellipsis;
}

.usuarios_lista > :nth-child(4) {
    width: 20%;
    text-overflow: ellipsis;
}


.container_listas_users > .usuarios_lista:nth-child(2n) {

    position: relative;
    height: 35px;
    padding-left: 5%;
    background-color: #3ca36b;
    user-select: none;
    padding-right: 5%;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 15px;

}


.container_listas_users > .usuarios_lista:nth-child(2n-1) {

    position: relative;
    height: 35px;
    padding-left: 5%;
    background-color: #ffffff;
    padding-right: 5%;
    color: #3ca36b;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 15px;
    
}


.container_listas_users > .categorias_lista:nth-child(2n) {

    position: relative;
    height: 35px;
    padding-left: 5%;
    background-color: #3ca36b;
    user-select: none;
    padding-right: 5%;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 15px;

}



.container_listas_users > .produtos_lista:nth-child(2n-1) {

    position: relative;
    height: 35px;
    padding-left: 5%;
    background-color: #ffffff;
    padding-right: 5%;
    color: #3ca36b;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 15px;
    
}


.container_listas_users > .produtos_lista:nth-child(2n) {

    position: relative;
    height: 35px;
    padding-left: 5%;
    background-color: #3ca36b;
    user-select: none;
    padding-right: 5%;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 15px;

}



.container_listas_users > .categorias_lista:nth-child(2n-1) {

    position: relative;
    height: 35px;
    padding-left: 5%;
    background-color: #ffffff;
    padding-right: 5%;
    color: #3ca36b;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 15px;
    
}


.containeractions {
    z-index: 20;
    position: absolute;
    right: 0;
}

.containeractions > svg {

    width: 15px;
    height: 15px;
    margin-right: 7px;
    cursor: pointer;

}

.containeractions > :first-child:hover{
    color: yellow;
}

.containeractions > :last-child:hover{
    color: red;
}


.ContainerButtonAddUser {
    display: flex;
    margin-top: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}


.ContainerButtonAddUser > .btnAdd {

    width: 200px;
    background-color: #2a754c;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnAdd > span {
    margin-right: 15px;
}

.btnAdd:active {
    opacity: 0.5;
}

.formUserModal > * {
    
    color: #3ca36b;

}

.modal-title {
    color: #2a754c;
}

.btn-close{
    color: red !important;
}


.categorias_lista {



}


.categorias_lista:hover{
    opacity: 0.8;
}

.categorias_lista:active{
    opacity: 0.4;
}

.categorias_lista > :nth-child(1) {
    width: 20%;
    text-overflow: ellipsis;
}

.categorias_lista > :nth-child(2) {
    width: 80%;
    text-overflow: ellipsis;
}


.header_categorias {

    height: 35px;
    padding-left: 5%;
    background-color: #ffffff;
    padding-right: 5%;
    color: #3ca36b;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;

}


.header_categorias > :nth-child(1) {
    width: 20%;
}

.header_categorias > :nth-child(2) {
    width: 80%;
}


.header_produtos {
    height: 35px;
    padding-left: 5%;
    background-color: #ffffff;
    padding-right: 5%;
    color: #3ca36b;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;

}


.header_produtos > :nth-child(1) {
    width: 10%;
}

.header_produtos > :nth-child(2) {
    width: 33%;
}

.header_produtos > :nth-child(3) {
    width: 16%;
}


.header_produtos > :nth-child(4) {
    width: 16%;
}

.header_produtos > :nth-child(5) {
    width: 25%;
}


.produtos_lista {

}

.produtos_lista:hover{
    opacity: 0.8;
}

.produtos_lista:active{
    opacity: 0.4;
}

.produtos_lista > :nth-child(1) {
    width: 10%;
    text-overflow: ellipsis;
}

.produtos_lista > :nth-child(2) {
    width: 33%;
    text-overflow: ellipsis;
}

.produtos_lista > :nth-child(3) {
    width: 16%;
    text-overflow: ellipsis;
}

.produtos_lista > :nth-child(4) {
    width: 16%;
    text-overflow: ellipsis;
}

.produtos_lista > :nth-child(5) {
    width: 25%;
    text-overflow: ellipsis;
}